a:link { 
	text-decoration: none; 
}

a:hover { 
	color: inherit;
	text-decoration: underline; 
}

.btn-primary {
	--bs-btn-bg: var(--main-color)!important;
    --bs-btn-border-color: var(--main-color)!important;
}

.btn-primary:hover {
	background-color: var(--main-color-hover)!important;
    border-color: var(--main-color-hover)!important;
}

:root {
    --main-color: #d02d79;
    --main-color-hover: #962359;
}