:root {
    --main-color: #d02d79;
    --main-color-hover: #962359;
	--main-color-background: #8a3b3b;
	--main-color-background-secondary: #2da1c2;
	--table-tr1-color-background: #9ac22d;
	--table-tr2-color-background: #afdc32;
}

a:link { 
	text-decoration: none; 
}

a:hover { 
	color: inherit;
	text-decoration: underline; 
}

.btn-primary {
	--bs-btn-bg: var(--main-color)!important;
    --bs-btn-border-color: var(--main-color)!important;
	
}

.btn-primary:hover {
	background-color: var(--main-color-hover)!important;
    border-color: var(--main-color-hover)!important;
}

.link-primary {
	color: var(--main-color)!important;
}

.link-primary:hover {
	color: var(--main-color-hover)!important;
	text-decoration-color: var(--main-color-hover)!important;
}

.img-navbar {
  padding: .25rem;
  max-width: 100px;
  height: auto;
}

.body-style {
	background-color: var(--main-color-background);
}

.card {
	background-color: var(--main-color-background-secondary)!important;
	border-color: #000!important;
}

.background-card {
	background-color: #120fd5;
	border-color: #4cf74c;
}

.card-title{
	background-color: #000;
	margin-bottom: 10px!important;
}

.card-text{
	padding: 50px;
}

.button-icon{
	color:#120fd5;
}