:root {
    --main-color: #e63748;
    --main-color-hover: #bf4253;
	--main-color-background: #1a1f1a;
	--main-color-background-secondary: #2c2c29;
	--table-tr1-color-background: #3a3a3e;
	--table-tr2-color-background: #ffffff14;
}

a:link { 
	text-decoration: none; 
}

a:hover { 
	color: inherit;
	text-decoration: underline; 
}

.btn-primary {
	--bs-btn-bg: var(--main-color)!important;
    --bs-btn-border-color: var(--main-color)!important;
	text-decoration-color: #ffffff;
	
}

.btn-primary:hover {
	background-color: var(--main-color-hover)!important;
    border-color: var(--main-color-hover)!important;
}

.link-primary {
	color: var(--main-color)!important;
}

.link-primary:hover {
	color: var(--main-color-hover)!important;
	text-decoration-color: var(--main-color-hover)!important;
}

.bg-body-tertiary {
background-color: var(--main-color-background) !important;
}

.img-navbar {
  padding: .25rem;
  max-width: 100px;
  height: auto;
}

.body-style {
	background-color: var(--main-color-background);
}

.card {
	background-color: var(--main-color-background-secondary)!important;
	border-color: #2c2c29!important;
}

.background-card {
	background-color: #120fd5;
	border-color: #4cf74c;
}

.card-title{
	background-color: #e63748;
	margin-bottom: 10px!important;
	padding: 15px;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 7px;
	color: #ffffff !important;
}

.card-text{
	padding: 50px;
	color: #ffffff;
	background-color: #3c3a3a!important;
	border-radius: 7px;

}

.button-icon{
	color:#ffffff;
}