{% extends "default.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<br>
<div style="width: 75%; margin: auto;">

	<div class="card">
		<div class="card-body">
			<h5 style="color: var(--main-color);">Bevorstehend</h5>
			{{ event_list(future_events) }}
		</div>
		<hr>
		<div class="card-body">
			<h5 style="color: var(--main-color);">Zukünftig</h5>
			{{ event_list(past_events) }}
		</div>
	</div>
</div>
{% endblock %}

{% macro event_list(events) -%}
<div class="accordion" id="accordionExample">
	{% for event in events %}
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{event.id}}" aria-expanded="false" aria-controls="collapse{{event.id}}">
			Event am {{event.date.strftime('%d.%m.%Y')}} um {{event.date.strftime('%H:%M')}}
			</button>
		</h2>
		<div id="collapse{{event.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<h5 style="color: var(--main-color);">Zusage</h5>
				{{ participant_list(event) }}
				<h5 style="color: var(--main-color);">Absage</h5>
				{{ participant_list(event) }}
				<h5 style="color: var(--main-color);">Nicht abgestimmt</h5>
				{{ participant_list(event) }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endmacro -%}

{% macro participant_list(event) -%}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Nachname</th>
			<th scope="col">Firma</th>
		</tr>
	</thead>
	<tbody>
		{% for att in event.event_attendance %}
		<tr>
			<td scope="col">{{att.user.surname}}</td>
			<td scope="col">{{att.user.name}}</td>
			<td scope="col">{{att.user.company.name}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}