<head>
    <link rel="stylesheet" href="./../../static/css/styles.css">
</head>
{% extends "default.html" %}

{% block title %}Profil{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Name
    </div>
    <div class="card-body">
        {{user.surname}}
        {{user.name}}
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        {{user.company.name}}
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><span class="badge text-bg-secondary rounded-pill">1</span> Gewerk</li>
            <li class="list-group-item"><span class="badge text-bg-secondary rounded-pill">2</span> Gewerk</li>
        </ul>
    </div>
</div>

{% endblock %}