<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <table border="1">
            <tr>
            {% for i in key %}
                <th>{{i}}</th>
            {% endfor %}
            </tr>
            {% for res in result %}
                <tr>
                {% for i in key %}
                    <td>{{res[i]}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <h1>{{result}}</h1>
    </body>
</html>